@tailwind base;
@tailwind components;
@tailwind utilities;

.blue {
	background-color: #383896;
}

.light {
	background-color: #e6e6fa;
}

.but {
	color: white;
	background-color: #383896;
}

.but:hover {
	background-color: #6969e8;
}

.revbut {
	background-color: #e6e6fa;
	color: black;
}
.revbut:hover {
	background-color: rgb(17 24 39);
	color: white;
}

.skele{
	background-color: #cfcff4;

}
